#header{
    display: flex;
    width: 100%;
    align-items: center;
}

#heading{
    display: flex;
    align-items: center;
}

.navbar{
    align-items: center;
    width: 90%;
    margin: 1rem 2rem   ; 
    display:flex;
    background-color: #6ca4ad;
    padding: 1rem 2rem;
    justify-content: space-between;
    border-radius: 2rem;
    margin-right: 1rem;
}
.profileImg > *{
    max-width: 3rem;
    max-height: 3rem;
    /* background-image: url(./images/userLogin.png); */
    background-size: contain;
    background-position: center;
    background-color: #222;
    margin:1rem;
    margin-left: 0;
    border-radius: 5rem;
}
.navbar h1{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.navLeftSec{
    display: flex;
    gap: 6rem;
}
.sections{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar p:hover{
    cursor: pointer;
    font-weight: 700;
    scale: 1.25;
    background:fixed;
    text-decoration: underline;
}
.freeAdvice{
    font-size: 1.2rem;
    color: white;
    font-weight:600 ;   
}
.companyName{
    text-decoration: none;
    color: #222;

}
#LOGO{
    width: 2.5rem;
    border-radius: 2rem;
    margin-right: 1rem;
}
.unloginedNav{
    min-width: 95%;
}
.heading2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sideBar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.502);
    display: none;
    padding: 2rem;
    gap: 1rem;
    flex-direction: column;
    text-decoration: none;
    z-index: 999;
}
#noSidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.502);
    display: flex;
    padding: 2rem;
    gap: 1rem;
    flex-direction: column;
    text-decoration: none;
    z-index: 999;
}
.sideBar h1{
    display: flex;
    align-items: center;
}
.sideBar p{
    color: #222;
    text-decoration: none;
    align-items: flex-start;

}
.sideBar p:hover{
    font-weight: 900;
}
.sidebar a{
    text-decoration: none;
}
#LOGO{
    width: 2.5rem;
    border-radius: 2rem;
    margin-right: 1rem;
}
.navEnd{
    display: flex;
    gap: 2rem;
}
.navEnd a:hover{
scale: 1.5;
}
.heading{
    display: flex;
}

@media screen and (max-width: 960px )and (min-width:10px){
.sections{
    display: none;
}
.freeAdvice{
    display: none;
}  
}
