*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
main{
    width: 100vw;
    height: 100vh;
}
cards{
    /* padding: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;

    @apply py-10 mb-5;
}
card{
    width: 25vw;
    height: 50vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    background-color:#4493B7;
    /* padding:1% 3%; */

    @apply px-10 py-5 rounded-xl lg:w-1/3 w-4/5;
}

/* applying styling to LOGIN heading */
cards h1{
    text-align: center;
    font-weight: 500;
    color: blue;
    font-size: 2rem;

    @apply text-2xl mb-3;
}
/* Applying css to input fields */
cards input, span input{
    padding: 5px;

    @apply outline-none px-3 py-2 rounded-lg;
}
/* Applying css to span section containg password input field and forgoit password text */
span{
    display: flex;
    flex-direction: column;
}
/* applying styling to the LOGIN button */
card button{
    background-color:antiquewhite;
    max-width: min-content;
    align-self: center;
    padding: 0.25rem 2rem;

    @apply rounded bg-[#bfeafd] hover:bg-[#5cabcc] text-[#173644] font-semibold ;
}
/* Applying css to "forgot password" text */
#forgot{
    /* color: red; */

    @apply text-red-700 font-semibold text-sm mt-2;
}

/* Applying style/css to "new user? Signup" section */
card p{
    justify-self: baseline;
    align-self: center;
    color: #fff;

    @apply text-sm;
}

#signUp{
    /* color: blue; */
    @apply text-blue-900 text-base hover:text-blue-700 font-semibold ml-2 hover:underline underline-offset-8;
}
