/* 
main{
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

Formating the Appointment Booking form
form{
    background-color: #1A759F;
    margin: 2rem auto;
    padding: 2rem 5rem;

    @apply w-fit;
}
form h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.5rem;
}
form input ,select{
    width: 15rem;
    border-radius: 0.25rem;
    text-align: center;
}

.oneline{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 3rem;
}
label{
    width: 15rem;
}

button{
    width: max-content;
    background-color:#00A5EC ;
    padding: .5rem 3rem;
    align-self: center;
    margin-top: 3rem;
    border-radius: 2rem;
    font-weight: 600;
    color: #ffff;
} */